
.mylogo {
	margin-left : 60px;
}

.reg {
	text-align: center;
	padding : 20px 0px;
	background-color: #c6c6c6;
}

.regid {
    color: #000000;
}
.con{
padding-top:150px;
padding-bottom:150px;

color:black;
text-align:center;
background-color:#7FFFD4	
}

.foot {
	padding : 22px 0px;
	height: 70px;
	background-color: #000000;
}

.footext {
	color: #ffffff;
	text-align: center;
}
