
.navbar {

}

.mylogo {
	 margin : 0px;
	 padding : 0px;
     height: 70px;
     width: 70px;
}

.brandname {
	padding: 0px;
	margin : 0px;
	float: left;
}

.navbut {
	margin-left: 7px;
}

.reg {
	text-align: center;
	padding : 20px 0px;
	background-color: #c6c6c6;
}

.regid {
    color: #000000;
}
.belief {
	padding: 30px 0px;
	background-color: #9e9e9e;
}



.collapsible1{
            		        margin:0;
            		       background-color: #E0FFFF;
            		       color: black;
            		       border:0;
                           padding: 20px;
                           width: 100%;
                           text-align: center;
                           
                        
                          
                         }
                .content1{
                                 
                                 padding: 30px 20px 20px 20px;
                                 background-color:#AFEEEE  ;

                                 color:black;
                                 
                                 text-align:center;
                                 
 
                        
                    }

.collapsible2{
            		        margin:0;
            		       background-color: #E0FFFF   ;
            		       color: black;
            		       border:0;
                           padding: 20px;
                           width: 100%;
                           text-align: center;
                           
                        
                          
                         }
                .content2{
                                 
                                 padding: 20px 20px 20px 20px;
                                 background-color:#AFEEEE    ;

                                 color:black;
                                 
                                 text-align:center;
                                 
 
                        
                    }
                    .button{
                       height:150px;
                       padding:50px;

                      background-color:#E0FFFF  ;

                      text-align: center;
                    }
                    .button1{
                        padding:10px;
                      background-color: #4682B4;
                      width:300px;
                      
                      color:white;
                      border:none;
                     border-radius:40px;
                    }


              .foot {
  height: 70px;
  background-color: #000000;
  padding-left: 20px;
}

.footext {
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  float : left;
}

.navlist {
  margin :  0px;
  padding: 0px;
  list-style-type: none;
  float: right;
  margin-right: 10px;
  background-color: #000000;
}

.navlistitem {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  font-size:2em;
  color: #ffffff;
}  

.foolink {
  color: inherit;
}



@media screen and (max-width: 420px) {

  .button1 {
    width: 230px;
  }

  .foot {
  height: 120px;
  background-color: #000000;
}

.navlist {
  clear: both;
    float: left;
}

.navlistitem {
  margin-top: 0px;
}  

}
